<header>
  <div class="container">
    <div class="logo">
      <a href="/"><span>CarShare</span></a>
    </div>
    <nav>
      <ul>
        <li><a href="connexion">Se connecter</a></li>
        <li><a href="#">Des questions ?</a></li>
        <li><a href="#">Blog</a></li>
        <li>
          <a href="enregister-vehicule.html" class="btn-primary"
            >Louer ma voiture</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
